.header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 8rem;

  .nav {
    display: flex;

    &-item {
      margin: 0 1rem;
      display: flex;
      align-items: center;
    }
  }

  .logo {
    display: flex;
    align-items: center;
  }
}
