.search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__form {
    width: 100%;
    display: flex;
    justify-content: space-around;

    input,
    textarea {
      padding: 12px;
      margin: 12px 0;
      font-family: 'Inter', sans-serif;
      background-color: transparent;
      color: white;
      border: 1px solid #aaa;
      border-radius: 4px;
    }

    input::placeholder,
    textarea::placeholder {
      color: #aaa;
      font-weight: bold;
    }

    input {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 500px;
    }
  }
}
